<div ng-controller="View1Ctrl as vm">
    Decimal Number: <input type="text" ng-model="vm.number"><br>

    The float is split into three parts: <br>
    - The <b>Sign</b> which is 1 if the number is negative or 0 if the number is positive. <br>
    - The <b>Exponent</b> which shows by how many stops the Mantisse needs to be shifted.<br>
    - The <b>Mantissa</b> which represents the number as a positive unshifted binary value.<br><br>

    For {{vm.number}} the parts have the following values: <br> <br>
    The <b>Sign</b>:
    <span class="code">{{vm.number|float64ToInt64Binary | limitTo:1}}</span>
    <br>
    The <b>Exponent</b>:
    <span class="code">{{vm.number|float64ToInt64Binary | limitTo:4:1}} {{vm.number|float64ToInt64Binary |
        limitTo:4:5}}
    </span>
    <br>
    The <b>Mantissa</b>:
    <span class="code">{{vm.number|float64ToInt64Binary | limitTo:23:9}}</span>
    <br><br>

    <h2>Step 1: Get the Sign</h2>

    The <b>Sign</b> is <span class="code">{{vm.number|float64ToInt64Binary | limitTo:1}}</span> because {{vm.number}} is
    <span ng-if="vm.number >= 0">positive or zero</span><span
        ng-if="vm.number < 0">negative</span>. <br><br>

    <h2>Step 2: Get the Exponent</h2>
    To get the <b>Exponent</b> we need to first convert our number into it's binary representation:
    {{vm.number}} is <span class="code">{{vm.number|toBinaryWithComma}}</span> in binary. <br><br>

    Next we check by how many stops we need to shift our number to get the comma to the front (Ex. From <span
        class="code">1<span class="red">01</span>.11</span> -> <span class="code">1.0111</span> we'd need to shift by 2
    stops).
    <br>
    <br>
    For our number <span class="code">{{vm.number|toBinaryWithComma}}</span> we need to shift it by
    {{vm.getShiftCount(vm.number|toBinaryWithComma)}} stops.
    <br>
    After shifting our number it looks like this: <span class="code">
    {{vm.shift(vm.number|toBinaryWithComma)}}</span>

    To get our Exponent we'll add 127 to the number of steps ({{vm.getShiftCount(vm.number|toBinaryWithComma)}} ) and
    convert it into binary.
    <br>

    127 + {{vm.getShiftCount(vm.number|toBinaryWithComma)}} = {{vm.getShiftCount(vm.number|toBinaryWithComma)+127}} =
    <span class="code">
     {{vm.getShiftCount(vm.number|toBinaryWithComma)+127|toBinaryWithComma}}</span>
    <br><br>
    So our exponent is: <span class="code">
     {{vm.getShiftCount(vm.number|toBinaryWithComma)+127|toBinaryWithComma}}</span>


    <h2>Step 3: Get the Mantissa</h2>
    We now take the shifted number from before (<span class="code">{{vm.shift(vm.number|toBinaryWithComma)}}</span>) and
    remove the first <span class="code">1</span> and fill it out with zeros from the right until we have 23 places.
    <br>

    So our Mantissa is: <span class="code">{{vm.mantissa(vm.shift(vm.number|toBinaryWithComma)) }}</span>

    <h2>Step 4: Add it all together</h2>

    When we add it all together we get the full number:
    <span class="code">
        {{vm.number|float64ToInt64Binary}}<br>
    </span>

</div>